article.resume > header {
  display: grid;

  grid-template-columns: 1fr min-content;
  grid-template-rows: min-content min-content;
  gap: 1.5rem;
  grid-template-areas:
    "header-title image"
    "header-text image";

  & > * {
    margin: 0;
  }

  & > h1 {
    grid-area: header-title;
  }

  & > p {
    grid-area: header-text;
  }

  & > picture {
    grid-area: image;
  }

  @media screen and (max-width: 640px) {
    grid-template-columns: 1fr;
    grid-template-rows: repeat(3, min-content);
    grid-template-areas:
      "header-title"
      "image"
      "header-text";

    justify-items: center;
  }
}
