article.resume {
  display: grid;
  min-block-size: 80%;
  max-inline-size: 140ch;
  margin: 6rem calc(var(--overall-inline-margin) / 2);

  gap: 3rem;

  & > * {
    & > :first-child {
      margin-block-start: 0;
    }

    & > :last-child {
      margin-block-end: 0;
    }
  }
}
